.storybook-cell {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--selected {
  color: rgb(61, 109, 22);
}
.storybook-button--unselected {
  color: rgb(255, 255, 255);
}
